{% extends "layout.html" %}

{% block pageTitle %}
  Auxiliary services
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "have-way-order"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="what-food-vending" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Do you have any preferences for the food and drink supplied in vending machines?
                </h1>
              </legend>
              <div id="waste-hint" class="govuk-hint">
                We'll automatically add to your specification that food and drink provided must meet food standards and regulations.
              </div>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="need-way-order" name="need-way-order" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="need-way-order">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="need-way-order-2" name="need-way-order" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="need-way-order-2">
                    No
                  </label>
                </div>
              </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
