{% extends "layout.html" %}

{% block pageTitle %}
  Advertise a contract and run a procurement process, step by step
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="background: SteelBlue" class="govuk-!-padding-6">

    <h1 class="govuk-heading-xl" h1 style= "color:white;">Get help buying for schools</h1>
    <p style= "color:white;">From: Department for Education<br>
    Published: 2 February 2016<br>
    Updated:22 April 2021, see all updates</p>
  </div>
</div>
</div>
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Contents",
      href: "../"
    }
  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Advertise a contract and run a procurement process, step by step</h2>
    <p>A different procurement process may be suitable for your needs. Check this is the right process for you by <a href="../first-steps/find-the-right-procurement-process.html">Finding the right procurement process</a>.</p>
    <p>Before you complete these steps, you should have already:
</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="../first-steps/understand-your-schools-needs-for-a-procurement.html">Understood your school's needs</a></li>
      <li><a href="../first-steps/create-a-specification-for-your-school.html">Created your specification</a></li>
      <li><a href="../first-steps/check-youre-ready.html">Assessed the market</a></li>
    </ul>
</div>

<div class="govuk-grid-column-full">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: "1. Asking suppliers to submit an expression of interest"
          },
          content: {
            html: "<p class='govuk-body'>You could advertise, asking suppliers to submit an expression of interest (EOI) if you:</p>
<ul>
<li>want to find out how many bids you are likely to get, so you know how much work will be involved in assessing them later</li>
<li>are buying something unusual and need to know if there are people who can supply it</li>
</ul>
<p>Consider carefully whether this is necessary or if it will save you time or money. Running an expression of interest will make the whole process take longer.</p>"
          }
        },
        {
          heading: {
            text: "2. Decide how you'll assess the bids"
          },
          content: {
            html: "<p class='govuk-body'>Before you send out your invitation to tender, decide your &lsquo;award criteria&rsquo; &ndash; the system you&rsquo;ll use to decide which bid:</p>
<ul>
<li>best meets your specification</li>
<li>is the &lsquo;most economically advantageous&rsquo; &ndash; the one the that best combines price and quality</li>
</ul>
<p>Give each criteria a:</p>
<ul>
<li>range of scores &ndash; such as 1 to 5, with 5 highest</li>
<li>weighting &ndash; a figure you multiply the score by depending on how important the criteria is</li>
</ul>"
          }
        },
          {
          heading: {
            text: "3. Advertise and send an invitation to tender"
          },
          content: {
            html: "<p class='govuk-body'>Advertise somewhere suppliers will look, such as:</p>
<ul>
<li>the government&rsquo;s&nbsp;Contracts Finder&nbsp;service</li>
<li>newspapers</li>
<li>education publications or websites</li>
<li>trade magazines</li>
</ul>
<p>Your advertisement should:</p>
<ul>
<li>clearly explain what you want</li>
<li>tell suppliers what information you need</li>
<li>explain how to get an invitation to tender</li>
<li>set the timeline</li>
<li>say that you&rsquo;ll be using &lsquo;award criteria&rsquo; to give the contract to the &lsquo;most economically advantageous tender&rsquo;</li>
</ul>
<h3 class=\"govuk-heading-s\">Send an invititation to tender</h3>
<p>Send an invititation to the people who reply to your advert. Include:</p>
<ul>
<li>a covering letter</li>
<li>a timeline</li>
<li>how to ask questions</li>
<li>how to submit a bid</li>
<li>your specification</li>
<li>a list of things you want prices for</li>
<li>your award criteria</li>
<li>your contract terms &ndash; including the level of service you want and any contract management arrangements, such as regular meetings</li>
<li>any mandatory requirements for suppliers and, if needed, an invitation for suppliers to give a demonstration</li>
</ul>"
          }
        },
          {
          heading: {
            text: "4. Answer questions from suppliers"
          },
          content: {
            html: "<p class='govuk-body'>You should have a &lsquo;clarification stage&rsquo; &ndash; a time when suppliers can ask questions. No matter who asks the question, in most cases you should generally:</p>
<ul>
<li>send the question and reply to all the bidders with the same information</li>
<li>anonymise the question, so no one knows who asked it</li>
</ul>
<p>Do not reveal copyrighted or sensitive information. Ask suppliers if they are happy for you to publish their question and your answer. If they say no, consider their request and give them the opportunity to withdraw the question if you do not agree.</p>
<p>We recommend that you:</p>
<ul>
<li>ask suppliers to email the questions</li>
<li>keep a log of the questions and the answers you gave</li>
</ul>"
          }
        },
          {
          heading: {
            text: "5. Evaluate and decide on the winning bid"
          },
          content: {
            html: "<p class='govuk-body'>Assess the bids using the award criteria you sent out in your invitation to tender.</p>
<p>You must:</p>
<ul>
<li>not open any bids before the deadline</li>
<li>treat all bids fairly and equally</li>
<li>record how you made your decisions so you can defend them if you have to</li>
<li>keep confidential, secure, auditable records</li>
<li>award the contract to the highest scoring bidder</li>
</ul>
<h3 class=\"govuk-heading-s\">Who should assess the bids</h3>
<p>It&rsquo;s best to have at least 2 people assess each bid. When they&rsquo;re finished they should compare their scores and:</p>
<ul>
<li>discuss where they&rsquo;ve scored differently</li>
<li>reach an agreed score</li>
</ul>
<p>This is called &lsquo;moderation&rsquo;. Be aware, the more people involved, the harder it can be to reach an agreed score.</p>
<p>Bring in a specialist if you need expert knowledge to assess criteria, such as a quantity surveyor for building projects or an expert in procurement law.</p>
<h3 class=\"govuk-heading-s\">Keeping records</h3>
<p>Keep a record of all scores, comments and moderation decisions. There&rsquo;s software you can buy or you can use a spreadsheet.</p>"
          }
        },
          {
          heading: {
            text: "6. Notify suppliers and provide feedback"
          },
          content: {
            html: "<p class='govuk-body'>Tell all unsuccessful bidders who won and tell them at the same time.</p>
<p>Your letter should include:</p>
<ul>
<li>the name of the winning bidder</li>
<li>the award criteria you used</li>
<li>the scores for the winning bid</li>
<li>the relevant advantages of the winning bid</li>
<li>their scores and feedback</li>
</ul>
<p>If an unsuccessful bidder asks for the actual cost of the winning bid, you should provide it to them, provided that it will not give away any commercially sensitive information. There is no obligation to provide a detailed breakdown. You should:</p>
<ul>
<li>only comment on their unsuccessful bid &ndash; do not share details of anyone else&rsquo;s</li>
<li>try to give positive feedback</li>
</ul>
<p>Our advice is to avoid feedback meetings. If you do decide to meet face-to-face, keep notes during the meeting and have more than 1 member of staff present.</p>
<p>The meeting cannot be used to reopen negotiations.</p>
<h3 class=\"govuk-heading-s\">Tell the winning bidder</h3>
<p>Write to them saying they won including:</p>
<ul>
<li>the award criteria you used</li>
<li>their scores</li>
<li>why you think their bid is the most economically advantageous</li>
<li>feedback</li>
</ul>
<p>The letter is an invitation to finalise a contract. You need to make it clear that there are no commitments, and no work should begin, until both of you have signed the contract.</p>
<p>If for any reason they decide not to go ahead with the contract, you can award the contract to the second-highest scoring bidder, if you reserved the right to do so in your original tender documents, or you can rerun the process.</p>"
          }
        },
          {
          heading: {
            text: "7. Reply to challenges"
          },
          content: {
            html: "<p class='govuk-body'>If an unsuccessful bidder challenges the fairness of the contract award decision or process, contact them, explaining that you have conducted a fair assessment process and that you have kept good records.</p>
<p>If they then make a formal challenge, do not finalise the contract. Seek legal advice first.</p>"
          }
        },
          {
          heading: {
            text: "8. Award the contract"
          },
          content: {
            html: "<p class='govuk-body'>If there are no legal challenges, tell the successful supplier that you&rsquo;re giving them the contract. Your school or organisation and the supplier should then sign the contract.</p>
<p>If they agreed to use your terms and conditions, check that the signed copy they send back to you is exactly the same as the copy you sent them.</p>
<p>The last copy of the terms and conditions sent by either side is the one that is legally binding, so make sure that you&rsquo;re the last to sign.</p>
<p>If you placed an advert in&nbsp;Contracts Finder, place a notice of your contract award there too.</p>
<p>Set up a meeting with the supplier to finalise the management and payment arrangements, clarify key performance indicators and agree how you will work together.</p>
<p>There should be no changes from what was in the original invitation to tender.</p>"
          }
        },
          {
          heading: {
            text: "9. Abandoning the bidding process"
          },
          content: {
            html: "<p class='govuk-body'>On rare occasions, you may need to stop the bidding process.</p>
<p>If you stop the process while suppliers are preparing, or have submitted their bids, you should tell them and include your reasons.</p>
<p>The later in the process you abandon your procurement the greater the risk of you receiving a legal challenge where bidders may seek reimbursement of their bid costs.</p>
<p>You should make sure that your tender documents make it clear that you have the right to abandon the process at any time without any liability to the bidders.</p>
<p>You cannot abandon the process because the highest-scoring bidder is not the supplier you want.</p>"
          }
        }
      ]
    }) }}
 </div>

 <!--right hand column starts-->
 <div class="govuk-grid-column-one-third">
   <!--empty-->
 </div>
</div>
    </div>
  </div>
{% endblock %}
