{% extends "layout.html" %}

{% block pageTitle %}
  Choose a supplier from a framework, step by step
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="background: SteelBlue" class="govuk-!-padding-6">

    <h1 class="govuk-heading-xl" h1 style= "color:white;">Get help buying for schools</h1>
    <p style= "color:white;">From: Department for Education<br>
    Published: 2 February 2016<br>
    Updated:22 April 2021, see all updates</p>
  </div>
</div>
</div>
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Contents",
      href: "../"
    }
  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-caption-l govuk-!-margin-bottom-4">Choose a supplier from a framework, step by step</h2>
    <p>A different procurement process may be suitable for your needs. Check this is the right process for you by <a href="#">Finding the right procurement process</a>.</p>
    <p>Before you complete these steps, you should have already:
</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="#">Understood your school's needs</a></li>
      <li><a href="#">Created your specification</a></li>
    </ul>
</div>

<div class="govuk-grid-column-full">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: "1. Check what frameworks are available"
          },
          content: {
            html: "<p class='govuk-body'>This is the content for 1. Check what frameworks are available.</p>"
          }
        },
        {
          heading: {
            text: "2. Check what support each framework offers"
          },
          content: {
            html: "<p class='govuk-body'>This is the content for 2. Check what support each framework offers.</p>"
          }
        },
          {
          heading: {
            text: "3. Choosing between frameworks"
          },
          content: {
            html: "<p class='govuk-body'>This is the content for 3. Choosing between frameworks.</p>"
          }
        },
          {
          heading: {
            text: "4. Follow the rules of the framework"
          },
          content: {
            html: "<p class='govuk-body'>This is the content for 4. Follow the rules of the framework.</p>"
          }
        },
          {
          heading: {
            text: "5. Choosing a supplier"
          },
          content: {
            html: "<p class='govuk-body'>This is the content for 5. Choosing a supplier.</p>"
          }
        }
      ]
    }) }}
 </div>

 <!--right hand column starts-->
 <div class="govuk-grid-column-one-third">
   <!--empty-->
 </div>
</div>
    </div>
  </div>
{% endblock %}
