{% extends "layout.html" %}

{% block pageTitle %}
  Run a mini competition from a framework, step by step
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="background: SteelBlue" class="govuk-!-padding-6">

    <h1 class="govuk-heading-xl" h1 style= "color:white;">Get help buying for schools</h1>
    <p style= "color:white;">From: Department for Education<br>
    Published: 2 February 2016<br>
    Updated:22 April 2021, see all updates</p>
  </div>
</div>
</div>
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Contents",
      href: "../"
    }
  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Run a mini competition from a framework, step by step</h2>
    <p>A different procurement process may be suitable for your needs. Check this is the right process for you by <a href="../first-steps/find-the-right-procurement-process.html">Finding the right procurement process</a>.</p>
    <p>Before you complete these steps, you should have already:
</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="../first-steps/understand-your-schools-needs-for-a-procurement.html">Understood your school's needs</a></li>
      <li><a href="../first-steps/create-a-specification-for-your-school.html">Created your specification</a></li>
      <li><a href="../first-steps/check-youre-ready.html">Assessed the market</a></li>
    </ul>
</div>

<div class="govuk-grid-column-full">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: "1. Find a framework"
          },
          content: {
            html: "<p class='govuk-body'><a href='https://www.gov.uk/guidance/find-a-dfe-approved-framework-for-your-school'>Find a&nbsp;<abbr title="Department for Education">DfE</abbr>&nbsp;recommended framework</a>.</p>"
          }
        },
        {
          heading: {
            text: "2. Asking suppliers to submit an expression of interest"
          },
          content: {
            html: "<p class='govuk-body'>If you want to find out how many suppliers are interested in bidding then you can send an expression of interest (EOI) to them all. After doing this, you only need to send your invitation to suppliers who responded.</p>
<p>Check the framework&rsquo;s rules first &ndash; not all of them allow this.</p>
<p>Your EOI should include:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>an overview of your needs</li>
<li>the size of your school</li>
<li>how long the contract will last, with any important deadlines</li>
<li>when they must respond by</li>
</ul>"
          }
        },
          {
          heading: {
            text: "3. Decide how you'll assess the bids"
          },
          content: {
            html: "<p class='govuk-body'>Before you send out your invitation to tender, decide your &lsquo;award criteria&rsquo; &ndash; the system you&rsquo;ll use to decide which bid:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>best meets your specification</li>
<li>is the &lsquo;most economically advantageous&rsquo;&ndash; the one that best combines price and quality</li>
</ul>
<p>Give each criteria:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>a range of scores &ndash; such as 1 to 5, with 5 highest</li>
<li>a weighting &ndash; a figure you multiply the score by depending on how important the criteria is</li>
</ul>"
          }
        },
          {
          heading: {
            text: "4. Prepare and send an invitation to tender"
          },
          content: {
            html: "<p class='govuk-body'>Invitations should include:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>a covering letter</li>
<li>a timetable</li>
<li>how to ask questions</li>
<li>how to submit a bid</li>
<li><a href='https://www.gov.uk/guidance/buying-procedures-and-procurement-law-for-schools/writing-a-specification'>your specification</a></li>
<li>your award criteria</li>
<li>specific levels of service you want</li>
<li>your terms of appointment</li>
</ul>
<h3 class=\'govuk-heading-s\'>Covering letter</h3>
<p>Include all the information people need to submit a bid.</p>
<h3 class=\'govuk-heading-s\'>Timeline</h3>
<p>Set deadlines for:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>the clarification period &ndash; when suppliers can ask you questions</li>
<li>when suppliers must submit their bid</li>
<li>the &lsquo;<a href='https://www.gov.uk/guidance/buying-procedures-and-procurement-law-for-schools/run-a-mini-competition#standstill-period'>standstill period</a>&rsquo; if you have one</li>
<li>when you intend to enter into the contract</li>
</ul>
<p>Give suppliers enough time to:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>understand your needs</li>
<li>ask questions and use the information in your reply</li>
<li>respond to your questions and pricing requirements</li>
</ul>
<p>You must send your invitation to tender to every supplier on the framework who can meet your needs, unless you have run an expression of interest process.</p>"
          }
        },
          {
          heading: {
            text: "5. Answer questions from suppliers"
          },
          content: {
            html: "<p class='govuk-body'>You should have a &lsquo;clarification stage&rsquo; &ndash; a time when suppliers can ask questions. No matter who asks the question, in most cases you should generally:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>send the question and reply to all the bidders with the same information</li>
<li>anonymise the question, so no one knows who asked it</li>
</ul>
<p>Do not reveal copyrighted or sensitive information. Ask suppliers if they are happy for you to publish their question and your answer. If they say no, consider their request and give them the opportunity to withdraw the question if you do not agree.</p>
<p>We recommend that you:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>ask suppliers to email the questions</li>
<li>keep a log of the questions and the answers you gave</li>
</ul>"
          }
        },
          {
          heading: {
            text: "6. Evaluate and decide on the winning bid"
          },
          content: {
            html: "<p class='govuk-body'>Assess the bids using the award criteria you sent out in your invitation to tender.</p>
<p>You must:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>not open any bids before the deadline</li>
<li>treat all bids fairly and equally</li>
<li>record how you made your decisions so you can defend them if you have to</li>
<li>keep confidential, secure, auditable records</li>
<li>award the contract to the highest scoring bidder</li>
</ul>
<h3 class=\'govuk-heading-s\'>Who should assess the bids</h3>
<p>It&rsquo;s best to have at least 2 people assess each bid. When they&rsquo;re finished they should compare their scores and:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>discuss where they&rsquo;ve scored differently</li>
<li>reach an agreed score</li>
</ul>
<p>This process is called moderation. Be aware, the more people involved, the harder it can be to reach an agreed score.</p>
<p>Bring in a specialist if you need expert knowledge to assess a criteria.</p>
<p>You may also ask the framework owner when they last ran a financial check on the supplier. Ask them to run a new one if needed.</p>
<h3 class=\'govuk-heading-s\'>Keeping records</h3>
<p>Keep a record of all scores, comments and moderation decisions. Frameworks usually have a system for this. There&rsquo;s also software you can buy or you can use a spreadsheet.</p>"
          }
        },
          {
          heading: {
            text: "7. Notify suppliers and provide feedback"
          },
          content: {
            html: "<p class='govuk-body'>Send a letter to all the bidders at the same time including:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>the name of the winning bidder</li>
<li>the award criteria you used</li>
<li>the scores for the winning bid</li>
<li>the relative advantages of the winning bidder</li>
<li>when the standstill period ends, if you have one</li>
<li>their scores and feedback &ndash; for unsuccessful bidders</li>
</ul>"
          }
        },
          {
          heading: {
            text: "8. Allow a 'standstill period' for challenges"
          },
          content: {
            html: "<p class='govuk-body'>We recommend that you have a standstill period of at least 10 days between telling the bidders your decision and formally awarding the contract. It gives time for any unsuccessful supplier to challenge the decision if they believe it&rsquo;s unfair.</p>
<p>If the period ends on a non-working day, extend it to the end of the next working day.</p>"
          }
        },
          {
          heading: {
            text: "9. Award the contract"
          },
          content: {
            html: "<p class='govuk-body'>After the standstill period, tell the successful supplier that you&rsquo;re placing the contract with them. Your school or organisation and the supplier should then sign the contract.</p>
<p>The contract&rsquo;s terms and conditions (or &lsquo;service order terms&rsquo;) will have generally been set as part of the framework agreement and you should not change them. You can only add in those things that you agreed as part of the buying process.</p>"
          }
        }
      ]
    }) }}
 </div>

 <!--right hand column starts-->
 <div class="govuk-grid-column-one-third">
   <!--empty-->
 </div>
</div>
    </div>
  </div>
{% endblock %}
