{% extends "layout.html" %}

{% block pageTitle %}
  Run a compliant procurement process, step by step
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="background: SteelBlue" class="govuk-!-padding-6">

    <h1 class="govuk-heading-xl" h1 style= "color:white;">Get help buying for schools</h1>
    <p style= "color:white;">From: Department for Education<br>
    Published: 2 February 2016<br>
    Updated:22 April 2021, see all updates</p>
  </div>
</div>
</div>
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Contents",
      href: "../"
    }
  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-4">Run a compliant procurement process, step by step</h2>
    <p>A different procurement process may be suitable for your needs. Check this is the right process for you by <a href="../first-steps/find-the-right-procurement-process.html">Finding the right procurement process</a>.</p>
    <p>Before you complete these steps, you should have already:
</p>
    <ul class="govuk-list govuk-list--bullet">
      <li><a href="../first-steps/understand-your-schools-needs-for-a-procurement.html">Understood your school's needs</a></li>
      <li><a href="../first-steps/create-a-specification-for-your-school.html">Created your specification</a></li>
      <li><a href="../first-steps/check-youre-ready.html">Assessed the market</a></li>
    </ul>
</div>

<div class="govuk-grid-column-full">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: "1. Consider a prior information notice (PIN)"
          },
          content: {
            html: "<p class='govuk-body'>A prior information notice lets suppliers know about things you&rsquo;re planning to buy in the future. You publish them in the OJEU using&nbsp;eNotices.</p>
<p>Use these to:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>build up interest with suppliers</li>
<li>speed up buying things later</li>
</ul>
<p>If you want the PIN to cover several contracts get legal advice first.</p>"
          }
        },
        {
          heading: {
            text: "2. Reducing the number of bids with a 'selection stage'"
          },
          content: {
            html: "<p class='govuk-body'>If you want as many suppliers as possible to bid then use the open procedure. If you want to select which suppliers you will assess bids from, then use the restricted procedure, which is a 2 stage process. It&rsquo;s sometimes called a selection stage.</p>
<p>It is used to score and rank the suppliers so you can assess the top bids. Decide in advance how many bids you will assess &ndash; it must be at least 5.</p>
<p>Do this if:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>you think lots of suppliers will reply to your advert</li>
<li>suppliers must have specific skills, qualifications or experience</li>
<li>the bid they have to supply will be particularly complicated or costly to write</li>
</ul>
<p>Use the&nbsp;standard selection questionnaire&nbsp;to:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>gather simple and consistent information</li>
<li>find out if the supplier is suitable for the contract, not how they would handle the job</li>
</ul>
<p>The open procedure can be used to reduce suppliers as well, by stating clearly in the tender documents that any bidder who does not have the specific skills, qualifications or experience will not have their bid scored.</p>"
          }
        },
          {
          heading: {
            text: "3. Decide how you'll assess the bids"
          },
          content: {
            html: "<p class='govuk-body'>Before you send out your invitation to tender, decide your &lsquo;award criteria&rsquo; &ndash; the system you&rsquo;ll use to decide which bid:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>best meets your specification</li>
<li>is the &lsquo;most economically advantageous&rsquo; &ndash; the one that best combines price and quality</li>
</ul>
<p>Give each criteria a:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>range of scores &ndash; such as 1 to 5, with 5 highest</li>
<li>weighting &ndash; a figure you multiply the score by depending on how important the criteria is</li>
</ul>"
          }
        },
          {
          heading: {
            text: "4. Advertising and invitation to tender"
          },
          content: {
            html: "<p class='govuk-body'>You must publish a contract notice on Find a Tender service.</p>
<p>Your advert must:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>clearly explain what you want</li>
<li>tell suppliers what information you need</li>
<li>explain where the invitation to tender and documents are available online</li>
<li>set the timeline</li>
<li>say that you&rsquo;ll be using evaluation criteria to award the contract to the &lsquo;most economically advantageous tender&rsquo;</li>
</ul>
<p>You can advertise in other places suppliers will look, such as:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>the government&rsquo;s Contracts Finder&nbsp;service</li>
<li>newspapers</li>
<li>education publications or websites</li>
<li>trade magazines</li>
</ul>
<p>However, you must advertise on Find a Tender first and make sure everyone gets the same information.</p>
<h3 class=\'govuk-heading-s\'>Invitation to tender</h3>
<p>Make all your documents available online from the time you post your advert on the Find a Tender service. Include:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>a covering letter</li>
<li>a timeline</li>
<li>how to ask questions</li>
<li>how to submit a bid</li>
<li>your specification</li>
<li>a list of things you want prices for</li>
<li>your award criteria</li>
<li>the level of service you want</li>
<li>any contract management needs, such as regular meetings or contact</li>
<li>if needed, an invitation for suppliers to give a demonstration</li>
<li>the standard selection questionnaire if you are running a selection stage</li>
<li>the proposed contract drafted as far as possible</li>
</ul>"
          }
        },
          {
          heading: {
            text: "5. Answer questions from suppliers"
          },
          content: {
            html: "<p class='govuk-body'>You should have a &lsquo;clarification stage&rsquo; &ndash; a time when suppliers can ask questions. No matter who asks the question, in most cases you should generally:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>send the question and reply to all the bidders with the same information</li>
<li>anonymise the question, so no one knows who asked it</li>
</ul>
<p>Do not reveal copyrighted or sensitive information. Ask suppliers if they are happy for you to publish their question and your answer. If they say no, consider their request and give them the opportunity to withdraw the question if you do not agree.</p>
<p>We recommend that you:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>ask suppliers to email the questions</li>
<li>keep a log of the questions and the answers you gave</li>
</ul>"
          }
        },
          {
          heading: {
            text: "6. Evaluate and decide on the winning bid"
          },
          content: {
            html: "<p class='govuk-body'>Assess the bids using the award criteria you sent out in your invitation to tender.</p>
<p>You must:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>not open any bids before the deadline</li>
<li>treat all bids fairly and equally</li>
<li>record how you made your decisions so you can defend them if you have to</li>
<li>keep confidential, secure, auditable records</li>
<li>award the contract to the highest scoring bidder</li>
</ul>
<p>You can ask people to clarify things in their bid if it is not clear. You must not negotiate over bids.</p>
<h3 class=\'govuk-heading-s\'>Who should assess the bids</h3>
<p>It&rsquo;s best to have at least 2 people assess each bid. When they&rsquo;re finished they should compare their scores and:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>discuss where they&rsquo;ve scored differently</li>
<li>reach an agreed score</li>
</ul>
<p>This is called moderation. Be aware, the more people involved, the harder it can be to reach an agreed score.</p>
<p>Bring in a specialist if you need expert knowledge to assess criteria, such as a quantity surveyor for building projects or an expert in EU procurement law.</p>
<h3 class=\'govuk-heading-s\'>Keeping records</h3>
<p>Keep a record of all scores, comments and moderation decisions. There&rsquo;s software you can buy or you can use a spreadsheet.</p>"
          }
        },
          {
          heading: {
            text: "7. Notify suppliers and provide feedback"
          },
          content: {
            html: "<p class='govuk-body'>Tell all unsuccessful bidders who won and tell them at the same time.</p>
<p>Your letter should include:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>the name of the winning bidder</li>
<li>the award criteria you used</li>
<li>the scores for the winning bid</li>
<li>the relevant advantages of the winning bid</li>
<li>their scores and feedback</li>
</ul>
<p>If an unsuccessful bidder asks for the actual cost of the winning bid, you should provide it to them, provided that it will not give away any commercially sensitive information. There is no obligation to provide a detailed breakdown. You should:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>only comment on their unsuccessful bid &ndash; do not share details of anyone else&rsquo;s</li>
<li>try to give positive feedback</li>
</ul>
<p>Our advice is to avoid feedback meetings. If you do decide to meet face-to-face, keep notes during the meeting and have more than 1 member of staff present.</p>
<p>The meeting cannot be used to reopen negotiations.</p>
<h3 class=\'govuk-heading-s\'>Tell the winning bidder</h3>
<p>Write to them saying they won including:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>the award criteria you used</li>
<li>their scores</li>
<li>why you think their bid is the most economically advantageous</li>
<li>feedback</li>
</ul>
<p>The letter is an invitation to finalise a contract. You need to make it clear that there are no commitments, and no work should begin, until both of you have signed the contract.</p>
<p>If for any reason they decide not to go ahead with the contract, you can award the contract to the second-highest scoring bidder, if you reserved the right to do so in your original tender documents, or you can rerun the process.</p>"
          }
        },
          {
          heading: {
            text: "8. Allow a 'standstill period' for challenges"
          },
          content: {
            html: "<p class='govuk-body'>By law, you must have a &lsquo;standstill period&rsquo; of at least 10 calendar days between telling the bidders your decision and awarding the contract.</p>
<p>If the period ends on a non-working day extend it to the end of the next working day.</p>
<p>During the standstill period, if an unsuccessful bidder challenges the fairness of the contract award decision or process, you must contact them and explain that you&rsquo;ve conducted a fair assessment process and that you&rsquo;ve kept good records.</p>
<p>Depending on the nature and seriousness of the challenge you may want to get legal advice before responding.</p>
<p>If they then make a legal challenge do not finalise the contract. Seek legal advice and wait to see if the court reviewing the challenge grants &lsquo;interim measures&rsquo;. If so, you should then wait for the outcome of the legal proceedings.</p>"
          }
        },
          {
          heading: {
            text: "9. Award the contract"
          },
          content: {
            html: "<p class='govuk-body'>After the standstill period, tell the successful supplier that you&rsquo;re placing the contract with them. Your school or organisation and the supplier should then sign the contract.</p>
<p>If they agreed to use your terms and conditions, check that the signed copy they send back is exactly the same as the copy you sent them.</p>
<p>The last copy of the terms and conditions sent by either side is the one that is legally binding, so make sure that you&rsquo;re the last to sign.</p>
<p>You must place a contract award notice on Find a Tender within 30 days of awarding the contract.</p>
<p>If you placed an advert in Contracts Finder&nbsp;place a notice of your contract award there too.</p>
<p>Set up a meeting with the supplier to finalise the management and payment arrangements, clarify key performance indicators and agree how you will work together. You must publish a notice of the contract award on FTS within 30 days of signing the contract.</p>"
          }
        },
          {
          heading: {
            text: "10. Abandoning the bidding process"
          },
          content: {
            html: "<p class='govuk-body'>On rare occasions, you may need to stop the bidding process. You must send a notice on FTS telling them what has happened.</p>
<p>If you stop the process while suppliers are preparing, or have submitted their bids, you should tell them, along with your reasons.</p>
<p>If this happened very late in the process &ndash; from the evaluation period onwards &ndash; you may be at risk of a legal challenge.</p>
<p>You cannot abandon the process because the highest scoring bidder is not the supplier you want.</p>"
          }
        }
      ]
    }) }}
 </div>

 <!--right hand column starts-->
 <div class="govuk-grid-column-one-third">
   <!--empty-->
 </div>
</div>
    </div>
  </div>
{% endblock %}
