{% extends "layout.html" %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{data["procurement-name"]}}</span>
      <h1 class="govuk-heading-xl">Specify what your school needs to buy</h1>

      <p class="govuk-body">Get help gathering your school's requirements for what you need to buy, and start to draft a specification that you'll be able to share with suppliers.</p>

      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 1 of 3 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Contact information
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-summary-list__wide">
                      <a href="non-linear-supplier-communication" aria-describedby="eligibility-status">
                        How do you want suppliers to contact you about your specification?
                      </a>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data['specifyContactInformation'] == 'Not started'%}
                          <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                        {% endif %}

                        {% if data['specifyContactInformation'] == 'In progress'%}
                          <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                        {% endif %}

                        {% if data['specifyContactInformation'] == 'Completed'%}
                          <strong class="govuk-tag">Completed</strong>
                        {% endif %}
                    </dd>
                  </div>
              </span>

            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> About your current or previous {{data["confirmed-service"]}} contract
          </h2>
          <p class="govuk-body">{{data["domain-expert"]}} may be able to help you understand what worked well and what could be improved on your previous {{data["category-of-spend"]}} contract.</p>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <dt class="govuk-summary-list__key govuk-summary-list__wide">
                  <a href="non-linear-previous-supplier" aria-describedby="eligibility-status">
                    What does the current or previous catering supplier offer?
                  </a>
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data['specifyPreviousContract'] == 'Not started'%}
                      <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                    {% endif %}

                    {% if data['specifyPreviousContract'] == 'In progress'%}
                      <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                    {% endif %}

                    {% if data['specifyPreviousContract'] == 'Completed'%}
                      <strong class="govuk-tag">Completed</strong>
                    {% endif %}
                </dd>
              </span>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Requirements and goals for the new contract
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <dt class="govuk-summary-list__key govuk-summary-list__wide">
                  <a href="non-linear-facilities-available" aria-describedby="eligibility-status">
                    What facilities will be available to the new supplier?
                  </a>
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data['specifyFacilitiesAvailable'] == 'Not started'%}
                      <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                    {% endif %}

                    {% if data['specifyFacilitiesAvailable'] == 'In progress'%}
                      <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                    {% endif %}

                    {% if data['specifyFacilitiesAvailable'] == 'Completed'%}
                      <strong class="govuk-tag">Completed</strong>
                    {% endif %}
                </dd>
              </span>

            </li>
            <li class="app-task-list__item">
              <dt class="govuk-summary-list__key govuk-summary-list__wide">
                <a href="non-linear-food-requirements" aria-describedby="contact-details-status">
                  Food requirements for the school
                  </a>
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data['specifyFoodRequirements'] == 'Not started'%}
                      <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                    {% endif %}

                    {% if data['specifyFoodRequirements'] == 'In progress'%}
                      <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                    {% endif %}

                    {% if data['specifyFoodRequirements'] == 'Completed'%}
                      <strong class="govuk-tag">Completed</strong>
                    {% endif %}
                </dd>
            </li>
            <li class="app-task-list__item">
              <dt class="govuk-summary-list__key govuk-summary-list__wide">
                <a href="non-linear-contract-aims" aria-describedby="contact-details-status">
                  Aims for the catering service
              </a>
              </dt>
              <dd class="govuk-summary-list__value">
                  {% if data['specifyContractAims'] == 'Not started'%}
                    <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                  {% endif %}

                  {% if data['specifyContractAims'] == 'In progress'%}
                    <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                  {% endif %}

                  {% if data['specifyContractAims'] == 'Completed'%}
                    <strong class="govuk-tag">Completed</strong>
                  {% endif %}
              </dd>
            </li>
          </ul>
        </li>
      </ol>

     <a href="non-linear-step-by-step" role="button" draggable="false" class="govuk-button">
        Save and continue
      </a>
    </div>

    <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-l">{{data["procurement-name"]}} summary</h2>

      <p>
        This is a {{data["category-of-spend"]}} procurement for {{data["school-name"]}}.
        You have identified {{data["domain-expert"]}} as someone who may be able
        to help you understand your current contract. You will need approval form
        {{data["procurement-authorisers"]}} before you can go to tender.
      </p>
</div>
  </div>

{% endblock %}
