{% extends "layout.html" %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">{{data["category-of-spend"]}} procurement last updated 22 August 2020</span>
      <h1 class="govuk-heading-xl">{{data["procurement-name"]}}</h1>

      <p>
        Below is a step by step list to help you buy for your school. You can
        complete the steps in any order and amend information even after you
        have marked a step as completed.
      </p>

      <div id="step-by-step-navigation" class="app-step-nav app-step-nav--large app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
        <ol class="app-step-nav__steps">
          <li class="app-step-nav__step js-step" id="get-the-right-support-with-buying" >
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 1
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-summary-list__wide">
                      Plan how to buy for your school
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <strong class="govuk-tag">Completed</strong>
                    </dd>
                  </div>
                </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-the-right-support-with-buying">
              <p class="app-step-nav__paragraph">Get help understanding what you need to do, who you need to involve, and things you need to think about.</p>

              <ol class="app-step-nav__list " data-length="2">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="1.1" class="app-step-nav__link js-link" href="non-linear-check-your-answers.html">Plan how to buy for your school</a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="1.2" class="app-step-nav__link js-link" href="https://docs.google.com/document/d/1r9bqIC6JskpM1ZYTT9s10pH0lXZLxF92x5ZfiTuPkwU/edit?usp=sharing">View
                  pre-procurement plan for {{ data["confirmed-service"] }}</a>
                </li>
              </ol>
            </div>
          </li>

          <li class="app-step-nav__step js-step" id="get-the-right-support-with-buying" >
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 2
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-summary-list__wide">
                      Specify what your school needs to buy
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data['stepTwoStatus'] == 'Not started'%}
                          <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                        {% endif %}

                        {% if data['stepTwoStatus'] == 'In progress'%}
                          <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                        {% endif %}

                        {% if data['stepTwoStatus'] == 'Completed'%}
                          <strong class="govuk-tag">Completed</strong>
                        {% endif %}
                    </dd>
                  </div>
                </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-the-right-support-with-buying">
              <p class="app-step-nav__paragraph">Get help gathering your school's requirements for what you need to buy,
                and create a draft specification that you'll be able to share with suppliers.</p>

              <ol class="app-step-nav__list" data-length="2">
                <li class="app-step-nav__list-item js-list-item">
                  <a data-position="2.1" class="app-step-nav__link js-link" href="non-linear-step-2-task-list.html">
                    Specify what your school needs to buy
                  </a>
                </li>
                {% if data['stepTwoStatus'] == 'In progress'%}
                  <li class="app-step-nav__list-item js-list-item">
                    <a data-position="2.1" class="app-step-nav__link js-link" href="https://docs.google.com/document/d/1f0fUdCZyf98jnktzQ845KA7ykMMWHPV70CruuDqcBFQ/edit?usp=sharing">
                      View {{data["procurement-name"]}} specification
                    </a>
                  </li>
                {% endif %}
                {% if data['stepTwoStatus'] == 'Completed'%}
                  <li class="app-step-nav__list-item js-list-item">
                    <a data-position="2.1" class="app-step-nav__link js-link" href="https://docs.google.com/document/d/1f0fUdCZyf98jnktzQ845KA7ykMMWHPV70CruuDqcBFQ/edit?usp=sharing">
                      View {{data["procurement-name"]}} specification
                    </a>
                  </li>
                {% endif %}
              </ol>
            </div>
          </li>

          <li class="app-step-nav__step js-step" id="gather-information-on-what-youre-buying" >
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 3
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-summary-list__wide">
                      Select a route to market when buying for your school
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                    </dd>
                  </div>
                </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-gather-information-on-what-youre-buying">
              <p class="app-step-nav__paragraph">Answer questions to help determine a recommended route to market, based
              on your buying needs and time available.
              </p>
              <ol class="app-step-nav__list" data-length="2">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="3.1" class="app-step-nav__link js-link" href="#">Find out about the different routes to market</a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="3.2" class="app-step-nav__link js-link" href="#">Identify an appropriate route to market</a>
                </li>
              </ol>
            </div>
          </li>

          <li class="app-step-nav__step js-step" id="connect-with-suppliers" >
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 4
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-summary-list__wide">
                      Get help speaking to suppliers about your school's buying needs
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                    </dd>
                  </div>
                </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-connect-with-suppliers">
              <p class="app-step-nav__paragraph">Get help contacting suppliers about your school's buying needs.
                Find information on the best way to speak to suppliers so that
                you are ready to share you contract for tender.
              </p>

              <ol class="app-step-nav__list " data-length="4">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="4.1" class="app-step-nav__link js-link" href="#">Guidance on the different routes to market</a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="4.2" class="app-step-nav__link js-link" href="#">Identify the route to market and connect with suppliers</a>
                </li>
              </ol>
            </div>
          </li>

          <li class="app-step-nav__step js-step" id="manage-tenders" >
            <div class="app-step-nav__header js-toggle-panel" data-position="5">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 5
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-summary-list__wide">
                      Get help advertising your school's contract for tender
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                    </dd>
                  </div>
                </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-manage-tenders">
            <p class="app-step-nav__paragraph">
              Identify where you can best share your contract for tender so that
              you can get interest from suppliers.
            </p>
              <ol class="app-step-nav__list " data-length="1">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="5.1" class="app-step-nav__link js-link" href="#">Get help advertising your school's contract for tender</a>
                </li>
              </ol>
            </div>
          </li>
        </ol>
      </div>

      <a href="#" role="button" draggable="false" class="govuk-button">
        Save
      </a>
      <a href="#" role="button" draggable="false" class="govuk-button govuk-button--secondary">
        Mark procurement as complete
      </a>
    </div>
   <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-l">{{data["procurement-name"]}} summary</h2>

      <p>
        This is a {{data["category-of-spend"]}} procurement for {{data["school-name"]}}.
        You have identified {{data["domain-expert"]}} as someone who may be able
        to help you understand your current contract. You will need approval form
        {{data["procurement-authorisers"]}} before you can go to tender.
      </p>
</div>
  </div>
{% endblock %}
