{% extends "layout.html" %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
      {{serviceName}}
    </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <p class="govuk-body">Complete a standardised process designed to help
      simplify buying for your school or schools.</p>

      <p class="govuk-body">You will create a series of documents that can be
      used to help get authorisiation to buy for your school in a legal and
      complaint way.</p>

      <p class="govuk-body">Work through a series of steps to:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>plan how to buy for your school - get help understanding what you need to do, who to involve and the things
        you need to think about.</li>
        <li>create a specification for what your school needs to buy - gather your shool's requirements and start to
        draft a specification that you'll be able to share with staff and suppliers</li>
        <li>select a route to market when buying for your school - identify approprate ways to fufill your buying needs</li>
        <li>get help speaking to suppliers about your school's buying needs - speak to suppliers in a compliant way to
        share your needs and refine your inviation to tender</li>
        <li>get help advertising your school's contract for tender - find out recommended ways to advertise your tender
        </li>
      </ul>


      <p class="govuk-body">You will be able to start an new or resume an existing procurement.</p>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">You should already know:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>which goods or services your school needs to buy – you do not need to know any specific details at this stage</li>
        <li>the date your school needs to have these by</li>
        <li>your school's budget for the lifetime of the goods or services you're buying</li>
        <li>if you are buying goods or services for a single or multiple schools</li>
        <li><a href='https://www.ojec.com/thresholds.aspx' class='govuk-link'>
            the current EU threshold for public buying</a></li>
      </ul>

      <a href="resume-or-new" role="button" draggable="false" class="govuk-button govuk-button--start">
        Continue
      </a>
    </div>

  </div>

{% endblock %}
