{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="resume-catering-task-list">
      {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "What telephone number do you want to share with suppliers?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            html: "We recommend sharing your school's telephone number."
          },
          id: "supplier-contact-email",
          name: "supplier-contact-email"
        }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{
          govukButton({
            text: "Continue",
            preventDoubleClick: true
          })
        }}
        {{ govukButton({
          text: "Save and continue later",
          classes: "govuk-button--secondary"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
