{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="resume-catering-task-list">
      {% from "govuk/components/input/macro.njk" import govukInput %}

        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {{ govukTextarea({
          name: "supplier-contact-post",
          id: "supplier-contact-post",
          label: {
            text: "What is your postal address at the school?",
            classes: "govuk-label--l",
            isPageHeading: true
          }
        }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{
          govukButton({
            text: "Continue",
            preventDoubleClick: true
          })
        }}
        {{ govukButton({
          text: "Save and continue later",
          classes: "govuk-button--secondary"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
