{% extends "layout.html" %}

{% block pageTitle %}
  Auxiliary services
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "need-way-order"
  }) }}
{% endblock %}

{% block content %}

<!-- Add branching to go back to task list if "no" is selected -->


<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="../../../task-list?auxiliary-services-status=completed" method="post" novalidate>

          <div class="govuk-form-group">
            <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="more-detail">
                What food and drink do you need to be provided in vending machines?
              </label>
            </h1>
            <textarea class="govuk-textarea" id="more-detail" name="more-detail" rows="5" aria-describedby="more-detail-hint"></textarea>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
