{% extends "layout.html" %}

{% block pageTitle %}
 1. Check you're ready to start your procurement
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="background: SteelBlue" class="govuk-!-padding-6">

    <h1 class="govuk-heading-xl" h1 style= "color:white;">Get help buying for schools</h1>
    <p style= "color:white;">From: Department for Education<br>
    Published: 2 February 2016<br>
    Updated:22 April 2021, see all updates</p>
  </div>
</div>
</div>
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Contents",
      href: "../"
    }
  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">1. Check you're ready to start your procurement</h2>
    <p>
</div>

<div class="govuk-grid-column-full">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: "Writing a business case"
          },
          content: {
            html: "<p class='govuk-body'>This is the content for Writing a business case.</p>"
          }
        },
        {
          heading: {
            text: "Identify who should be involved"
          },
          content: {
            html: "<p class='govuk-body'>This is the content for Identify who should be involved.</p>"
          }
        },
          {
          heading: {
            text: "Estimate the lifetime cost of the contract"
          },
          content: {
            html: "<p class='govuk-body'>This is the content for Estimate the lifetime cost of the contract.</p>"
          }
        },
          {
          heading: {
            text: "Working with other schools"
          },
          content: {
            html: "<p class='govuk-body'>This is the content for Working with other schools.</p>"
          }
        },
          {
          heading: {
            text: "Assess the market"
          },
          content: {
            html: "<p class='govuk-body'>This is the content for Assess the market.</p>"
          }
        }
      ]
    }) }}
 </div>

 <!--right hand column starts-->
 <div class="govuk-grid-column-one-third">
   <!--empty-->
 </div>
</div>
    </div>
  </div>
{% endblock %}
