{% extends "layout.html" %}

{% block pageTitle %}
 1. Check you're ready to start your procurement
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="background: SteelBlue" class="govuk-!-padding-6">

    <h1 class="govuk-heading-xl" h1 style= "color:white;">Get help buying for schools</h1>
    <p style= "color:white;">From: Department for Education<br>
    Published: 2 February 2016<br>
    Updated:22 April 2021, see all updates</p>
  </div>
</div>
</div>
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Contents",
      href: "../"
    }
  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">1. Check you're ready to start your procurement</h2>
    <p>
</div>

<div class="govuk-grid-column-full">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: "Writing a business case"
          },
          content: {
            html: "<p class='govuk-body'>Writing a business case will help you to:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>specify what you need, why you need it and by when</li>
<li>ask approval to make the purchase</li>
<li>record your decision-making process</li>
</ul>
<p>You should include:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>a draft of&nbsp;<a href='https://buy-for-your-school-prototypes.herokuapp.com/beta/phase-5/first-steps/create-a-specification-for-your-school'>your specification</a></li>
<li>the estimated cost</li>
<li>any opportunities to work with other schools</li>
</ul>
<p>You should check there is available budget.</p>"
          }
        },
        {
          heading: {
            text: "Identify who should be involved"
          },
          content: {
            html: "<p class='govuk-body'>You should identify and inform everyone who should be involved. This might include:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>the governing board</li>
<li>trustees</li>
<li>the responsible body</li>
<li>technical experts</li>
<li>suppliers</li>
</ul>
<p>Consider meeting with everyone to make sure you&rsquo;ve identified everyone affected.</p>"
          }
        },
          {
          heading: {
            text: "Estimate the lifetime cost of the contract"
          },
          content: {
            html: "<p class='govuk-body'>To decide which buying process to use and to help with budgeting, you should estimate the total cost of the contract across its lifetime, including:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>the price of the goods, works or services</li>
<li>VAT</li>
<li>delivery charges</li>
<li>ongoing maintenance costs</li>
<li>running costs</li>
<li>the cost of removing and disposing of an item or service once you no longer need it</li>
</ul>
<p>The cost will affect&nbsp;<a href='https://buy-for-your-school-prototypes.herokuapp.com/beta/phase-5/first-steps/find-the-right-procurement-process'>which buying process to use</a>.</p>"
          }
        },
          {
          heading: {
            text: "Working with other schools"
          },
          content: {
            html: "<p class='govuk-body'><p>You may be able to save time and money by working with other local schools. Talk to them about what you are thinking of buying. You may be able to:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>borrow equipment</li>
<li>share resources and staff expertise</li>
<li>share knowledge of markets</li>
<li>compare prices and experiences from previous purchases</li>
<li>buy together so that you can:
<ul class='govuk-list govuk-list--bullet'>
<li>use your joint influence to get a good deal</li>
<li>cut the effort involved in managing multiple contracts</li>
</ul>
</li>
<li><a href='https://www.gov.uk/government/publications/join-or-create-a-network-for-school-business-professionals'>join or create a network for school business professionals</a></li>
</ul>"
          }
        },
          {
          heading: {
            text: "Assess the market"
          },
          content: {
            html: "<p class='govuk-body'>Do some research before you advertise to:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>see if you can get what you need using our&nbsp;<a href='https://www.gov.uk/guidance/find-a-dfe-approved-framework-for-your-school'>find a DfE recommended framework tool</a></li>
<li>see how many possible suppliers there are</li>
<li>find the best places to advertise</li>
</ul>
<p>You could also:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>speak to potential suppliers</li>
<li>ask other schools what they have done</li>
<li>consider asking suppliers to submit an expression of interest</li>
<li>publish a prior information notice in Contracts Finder</li>
</ul>
<p>If you do speak to suppliers, make sure that any information you give them at this stage is given to everyone else who bids later and that your specification does not unnecessarily favour the suppliers you have spoken to.</p>
<p>This is sometimes called &lsquo;soft market testing&rsquo;.</p>"
          }
        }
      ]
    }) }}
 </div>

 <!--right hand column starts-->
 <div class="govuk-grid-column-one-third">
   <!--empty-->
 </div>
</div>
    </div>
  </div>
{% endblock %}
