{% extends "layout.html" %}

{% block pageTitle %}
  3. Find the right procurement process
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="background: SteelBlue" class="govuk-!-padding-6">

    <h1 class="govuk-heading-xl" h1 style= "color:white;">Get help buying for schools</h1>
    <p style= "color:white;">From: Department for Education<br>
    Published: 2 February 2016<br>
    Updated:22 April 2021, see all updates</p>
  </div>
</div>
</div>
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Contents",
      href: "../"
    }
  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m govuk-!-margin-bottom-4">3. Find the right procurement process</h2>
    <p>You'll need to know:</p>
    <ul class='govuk-list govuk-list--bullet'>
      <li>The estimated cost of the goods or lifetime of the contract - <a href="./check-youre-ready">get help estimating the lifetime cost</a></li>
      <li>The date you need to have the goods or when the new service needs to start</li>
      <li>How much capacity you or your team has to work on the procurement</li>
      <li>An understanding of <a href="./understand-your-schools-needs-for-a-procurement">what your school needs and what your objectives are</a></li>
    </ul>
</div>

<div class="govuk-grid-column-full">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

    {{ govukAccordion({
      id: "accordion-default",
      items: [
          {
          heading: {
            text: "When to use a framework agreement"
          },
          content: {
            html: "<p class='govuk-body'>Frameworks are a type of contract you can use to buy goods, works or services for your school.</p>
<p>They are generally easier to use than running a full buying process. Each framework agreement has:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>details of the products and services available</li>
<li>an agreed pricing structure</li>
<li>details of the suppliers</li>
<li>instructions on how to buy</li>
<li>an agreed set of terms and conditions</li>
</ul>
<p>Each framework tells you how to choose a supplier and place an order.</p>
<p>You will have 2 options:</p>
<ol>
<li>Select the supplier from a list</li>
<li><a href='https://buy-for-your-school-prototypes.herokuapp.com/beta/phase-5/next-steps/run-a-mini-competition'>Run a mini-competition</a>&nbsp;&ndash; this is where you ask all suppliers on the list to send you a bid and you choose the best one.</li>
</ol>"
          }
        },
          {
          heading: {
            text: "When to find at least 3 suppliers to get a quote"
          },
          content: {
            html: "<p class='govuk-body'>Buy this way if:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>you cannot get what you need through a framework agreement</li>
<li>what you are buying is low to medium value</li>
</ul>
<p>Check your school&rsquo;s procurement rules to see what they class as low to medium value. We generally say:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>low is under &pound;10,000</li>
<li>medium is &pound;10,000 to &pound;40,000</li>
</ul>"
          }
        },
          {
          heading: {
            text: "When to advertise your contract and run a procurement process"
          },
          content: {
            html: "<p class='govuk-body'>You must run your own buying process, inviting suppliers to submit bids if:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>you cannot get what you need through a framework agreement</li>
<li>you are buying high-value things</li>
</ul>
<p>Your school&rsquo;s procurement rules will set what class as high. We generally say high is over &pound;40,000.</p>
<p>However, if what you are buying is over &pound;189,330 you may have to run compliant buying process.</p>"
          }
        },
          {
          heading: {
            text: "When to run a compliant procurement process"
          },
          content: {
            html: "<p class='govuk-body'>You need to run this kind of process if:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>you cannot get what you need through one of our recommended deals for schools or a framework agreement</li>
<li>you are buying something over the procurement thresholds</li>
</ul>
<p>The thresholds are:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>goods &ndash; &pound;189,330</li>
<li>works &ndash; &pound;4,733,252</li>
<li>most services &ndash; &pound;189,330</li>
</ul>
<p>Some services for education, health and care are covered by the &lsquo;light touch regime&rsquo;.</p>
<p>The threshold for these is &pound;663,540.</p>
<p>Check the list of all the services covered by the light touch regime in&nbsp;<a href='http://www.legislation.gov.uk/uksi/2015/102/schedule/3/made' rel='external'>the legislation.</a></p>
<p>We recommend that you get legal advice if what you are buying is over, or near to, the thresholds.</p>"
          }
        }
      ]
    }) }}
 </div>

 <!--right hand column starts-->
 <div class="govuk-grid-column-one-third">
   <!--empty-->
 </div>
</div>
    </div>
  </div>
{% endblock %}
