{% extends "layout.html" %}

{% block pageTitle %}
  2. Understand your school's needs for a procurement
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="background: SteelBlue" class="govuk-!-padding-6">

    <h1 class="govuk-heading-xl" h1 style= "color:white;">Get help buying for schools</h1>
    <p style= "color:white;">From: Department for Education<br>
    Published: 2 February 2016<br>
    Updated:22 April 2021, see all updates</p>
  </div>
</div>
</div>
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Contents",
      href: "../"
    }
  ]
}) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">2. Understand your school's needs for a procurement</h2>
    <p>
</div>

<div class="govuk-grid-column-full">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: "Establish your procurement objectives"
          },
          content: {
            html: "<p class='govuk-body'>Your objectives are important because it helps a supplier to decide whether they are a good fit for your school. You may want to think about:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>your mission statement</li>
<li>goals your school has&nbsp;</li>
<li>policies that relate to catering</li>
<li>objectives that relates to social value</li>
</ul>"
          }
        },
        {
          heading: {
            text: "Identify what suppliers will need to know"
          },
          content: {
            html: "<p class='govuk-body'>Find out what a supplier needs to know based on what you're buying</p>
<p>Buying and leasing goods</p>
<ul class='govuk-list govuk-list--bullet'>
<li><a href='https://buy-for-your-school-prototypes.herokuapp.com/beta/phase-5/'>Books, stationery and educational supplies</a></li>
<li><a href='https://buy-for-your-school-prototypes.herokuapp.com/beta/phase-5/'>Computer hardware and accessories</a></li>
<li><a href='https://buy-for-your-school-prototypes.herokuapp.com/beta/phase-5/'>PPE and other infection prevention control</a></li>
<li><a href='https://buy-for-your-school-prototypes.herokuapp.com/beta/phase-5/'>Furniture</a></li>
<li><a href='https://buy-for-your-school-prototypes.herokuapp.com/beta/phase-5/'>Cleaning Products</a></li>
</ul>
<p>Services</p>
<ul class='govuk-list govuk-list--bullet'>
<li><a href='https://buy-for-your-school-prototypes.herokuapp.com/beta/phase-5/catering'>Catering</a></li>
<li><a href='https://buy-for-your-school-prototypes.herokuapp.com/beta/phase-5/'>Cleaning</a></li>
<li><a href='https://buy-for-your-school-prototypes.herokuapp.com/beta/phase-5/'>ICT, Network and cloud solutions</a></li>
<li><a href='https://buy-for-your-school-prototypes.herokuapp.com/beta/phase-5/'>Consultancy and professional services</a></li>
<li><a href='https://buy-for-your-school-prototypes.herokuapp.com/beta/phase-5/'>Utilities</a></li>
<li><a href='https://buy-for-your-school-prototypes.herokuapp.com/beta/phase-5/'>Estates</a></li>
</ul></p>"
          }
        },
          {
          heading: {
            text: "Identify who you need to speak to"
          },
          content: {
            html: "<p class='govuk-body'>You should identify and inform everyone who should be involved. This might include:</p>
<ul class='govuk-list govuk-list--bullet'>
<li>the governing board</li>
<li>trustees</li>
<li>the responsible body</li>
<li>technical experts</li>
<li>suppliers</li>
</ul>
<p>Consider meeting with everyone to make sure you&rsquo;ve identified everyone affected.</p>"
          }
        }
      ]
    }) }}
 </div>

 <!--right hand column starts-->
 <div class="govuk-grid-column-one-third">
   <!--empty-->
 </div>
</div>
    </div>
  </div>
{% endblock %}
