{% extends "layout.html" %}

{% block pageScripts %}
  <script src="/public/javascripts/step-by-step-nav.js"></script>
  <script type="text/javascript">
    var $element = $('#step-by-step-navigation')
    var stepByStepNavigation = new GOVUK.Modules.AppStepNav()
    stepByStepNavigation.start($element)
  </script>
{% endblock %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">{{data["procurement-name"]}}</span>
      <h1 class="govuk-heading-xl">Specify what your school needs to buy</h1>

      <p class="govuk-body">Get help gathering your school's requirements for what you need to buy, and start to draft a specification that you'll be able to share with suppliers.</p>

      <p class="govuk-body govuk-!-margin-bottom-7">You have completed 1 of 3 sections.</p>

      <ol class="app-task-list">
        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">1. </span> Contact information
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-summary-list__wide">
                      <a href="non-linear-supplier-communication" aria-describedby="eligibility-status">
                        How do you want suppliers to contact you about your specification?
                      </a>
                    </dt>
                    <dd class="govuk-summary-list__value">
                        {% if data['specifyContactInformation'] == 'Not started'%}
                          <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                        {% endif %}

                        {% if data['specifyContactInformation'] == 'In progress'%}
                          <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                        {% endif %}

                        {% if data['specifyContactInformation'] == 'Completed'%}
                          <strong class="govuk-tag">Completed</strong>
                        {% endif %}
                    </dd>
                  </div>
              </span>

            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">2. </span> About your current or previous {{data["confirmed-service"]}} contract
          </h2>
          <p class="govuk-body">{{data["domain-expert"]}} may be able to help you understand what worked well and what could be improved on your previous {{data["category-of-spend"]}} contract.</p>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <dt class="govuk-summary-list__key govuk-summary-list__wide">
                  <a href="non-linear-previous-supplier" aria-describedby="eligibility-status">
                    What does the current or previous catering supplier offer?
                  </a>
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data['specifyPreviousContract'] == 'Not started'%}
                      <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                    {% endif %}

                    {% if data['specifyPreviousContract'] == 'In progress'%}
                      <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                    {% endif %}

                    {% if data['specifyPreviousContract'] == 'Completed'%}
                      <strong class="govuk-tag">Completed</strong>
                    {% endif %}
                </dd>
              </span>
            </li>
          </ul>
        </li>

        <li>
          <h2 class="app-task-list__section">
            <span class="app-task-list__section-number">3. </span> Requirements and goals for the new contract
          </h2>
          <ul class="app-task-list__items">
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <dt class="govuk-summary-list__key govuk-summary-list__wide">
                  <a href="non-linear-facilities-available" aria-describedby="eligibility-status">
                    What facilities will be available to the new supplier?
                  </a>
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data['specifyFacilitiesAvailable'] == 'Not started'%}
                      <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                    {% endif %}

                    {% if data['specifyFacilitiesAvailable'] == 'In progress'%}
                      <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                    {% endif %}

                    {% if data['specifyFacilitiesAvailable'] == 'Completed'%}
                      <strong class="govuk-tag">Completed</strong>
                    {% endif %}
                </dd>
              </span>

            </li>
            <li class="app-task-list__item">
              <dt class="govuk-summary-list__key govuk-summary-list__wide">
                <a href="non-linear-food-requirements" aria-describedby="contact-details-status">
                  Food requirements for the school
                  </a>
                </dt>
                <dd class="govuk-summary-list__value">
                    {% if data['specifyFoodRequirements'] == 'Not started'%}
                      <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                    {% endif %}

                    {% if data['specifyFoodRequirements'] == 'In progress'%}
                      <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                    {% endif %}

                    {% if data['specifyFoodRequirements'] == 'Completed'%}
                      <strong class="govuk-tag">Completed</strong>
                    {% endif %}
                </dd>
            </li>
            <li class="app-task-list__item">
              <dt class="govuk-summary-list__key govuk-summary-list__wide">
                <a href="non-linear-contract-aims" aria-describedby="contact-details-status">
                  Aims for the catering service
              </a>
              </dt>
              <dd class="govuk-summary-list__value">
                  {% if data['specifyContractAims'] == 'Not started'%}
                    <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                  {% endif %}

                  {% if data['specifyContractAims'] == 'In progress'%}
                    <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                  {% endif %}

                  {% if data['specifyContractAims'] == 'Completed'%}
                    <strong class="govuk-tag">Completed</strong>
                  {% endif %}
              </dd>
            </li>
          </ul>
        </li>
      </ol>

     <a href="non-linear-step-by-step" role="button" draggable="false" class="govuk-button">
        Save and continue
      </a>
    </div>

    <div class="govuk-grid-column-one-third">

      <h2 class="govuk-heading-s">Sept 2021 Catering contract</h2>

      <p class="govuk-body-s">This is a catering procurement for (Your School)</p>

    	<div id="step-by-step-navigation" class="app-step-nav app-step-nav--active" data-show-text="Show" data-hide-text="Hide" data-show-all-text="Show all" data-hide-all-text="Hide all">
        <ol class="app-step-nav__steps">
          <li class="app-step-nav__step js-step" id="get-the-right-support-with-buying" data-show="">
            <div class="app-step-nav__header js-toggle-panel" data-position="1">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 1
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-summary-list__wide">
                      Plan how to buy for your school
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <strong class="govuk-tag">Completed</strong>
                    </dd>
                  </div>
                </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-get-the-right-support-with-buying">
              <p class="app-step-nav__paragraph">Get help understanding what you need to do, who you need to involve, and things you need to think about.</p>

              <ol class="app-step-nav__list " data-length="3">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="1.1" class="app-step-nav__link js-link" href="plan-start-page.html">Plan how to buy for your school</a>
                </li>
              </ol>
            </div>
          </li>

          <li class="app-step-nav__step js-step" id="gather-information-on-what-youre-buying" >
            <div class="app-step-nav__header js-toggle-panel" data-position="2">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 2
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  <div class="govuk-summary-list__row">
                    <dt class="govuk-summary-list__key govuk-summary-list__wide">
                      Specify what your school needs to buy
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <strong class="govuk-tag govuk-tag--blue">In progress</strong>
                    </dd>
                  </div>
                </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-gather-information-on-what-youre-buying">
              <p class="app-step-nav__paragraph">Get help gathering your school's requirements for what you need to buy, and start to draft a specification that you'll be able to share with suppliers.
              </p>
              <ol class="app-step-nav__list" data-length="1">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="2.1" class="app-step-nav__link js-link" href="gather-info-start-page.html">Define your requirements to build a draft specification</a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="2.2" class="app-step-nav__link js-link" href="#">See what other schools are spending</a>
                </li>
              </ol>
            </div>
          </li>

          <li class="app-step-nav__step js-step" id="connect-with-suppliers" >
            <div class="app-step-nav__header js-toggle-panel" data-position="3">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 3
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  <dt class="govuk-summary-list__key govuk-summary-list__wide">
                      Select a route to market when buying for your school
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                    </dd>
                </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-connect-with-suppliers">
              <p class="app-step-nav__paragraph">Answer questions to work out the best way to get your specification to suppliers. Then invite them to bid on your specification.</p>

              <ol class="app-step-nav__list " data-length="2">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="3.1" class="app-step-nav__link js-link" href="#">Guidance on the different routes to market</a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="3.2" class="app-step-nav__link js-link" href="#">Identify the route to market and connect with suppliers</a>
                </li>
              </ol>
            </div>
          </li>

          <li class="app-step-nav__step js-step" id="manage-tenders" >
            <div class="app-step-nav__header js-toggle-panel" data-position="4">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 4
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  <dt class="govuk-summary-list__key govuk-summary-list__wide">
                      Get help speaking to suppliers about your school's buying needs
                    </dt>
                    <dd class="govuk-summary-list__value">
                      <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                    </dd>
                </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-manage-tenders">
            <p class="govuk-body-s">Get help speaking to suppliers about your school's buying needs</p>

              <ol class="app-step-nav__list " data-length="2">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="4.1" class="app-step-nav__link js-link" href="#">Guidance on the different routes to market</a>
                </li>
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="4.2" class="app-step-nav__link js-link" href="#">Identify the route to market and connect with suppliers</a>
                </li>
              </ol>
            </div>
          </li>

          <li class="app-step-nav__step js-step" id="advertise-tender" >
            <div class="app-step-nav__header js-toggle-panel" data-position="5">
              <h2 class="app-step-nav__title">
                <span class="app-step-nav__circle app-step-nav__circle--number">
                  <span class="app-step-nav__circle-inner">
                    <span class="app-step-nav__circle-background">
                      <span class="govuk-visually-hidden">Step</span> 5
                    </span>
                  </span>
                </span>

                <span class="js-step-title">
                  <dt class="govuk-summary-list__key govuk-summary-list__wide">
                    Get help advertising your school's contract for tender
                  </dt>
                  <dd class="govuk-summary-list__value">
                    <strong class="govuk-tag govuk-tag--grey">Not started</strong>
                  </dd>
                </span>
              </h2>
            </div>

            <div class="app-step-nav__panel js-panel js-hidden" id="step-panel-advertise-tender">
              <ol class="app-step-nav__list " data-length="1">
                <li class="app-step-nav__list-item js-list-item ">
                  <a data-position="5.1" class="app-step-nav__link js-link" href="#">Get help advertising your school's contract for tender</a>
                </li>
              </ol>
            </div>
          </li>
        </ol>
      </div>

    </div>
  </div>

{% endblock %}
