{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="non-linear-provision-start-date">
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      {{ govukRadios({
        idPrefix: "how-many-schools",
        name: "how-many-schools",
        fieldset: {
          legend: {
            text: "How many schools does the service need to provide for? ",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "1 school",
            text: "1 school"
          },
          {
            value: "Multiple schools in the same trust",
            text: "Multiple schools in the same trust"
          },
          {
            value: "Multiple schools that are not all in the same trust",
            text: "Multiple schools that are not all in the same trust"
          }
        ]
      }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{
          govukButton({
            text: "Continue",
            preventDoubleClick: true
          })
        }}
        {{ govukButton({
          text: "Save and continue later",
          classes: "govuk-button--secondary"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
