{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="non-linear-step-2-task-list">
      {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "What email address do you want to share with suppliers?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            html: "This will be the email address that they use to contact you for this procurement."
          },
          id: "supplier-contact-email",
          name: "supplier-contact-email"
        }) }}

        {% from "govuk/components/details/macro.njk" import govukDetails %}

        {{ govukDetails({
          summaryText: "Advice about emails",
          html: "If you are worried about sharing your email address with suppliers then it is possible to ask IT or technical support to create a new email address or alias for this procurement.<br/><br/> This means that you will not need to share your email address with suppliers."
        }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{
          govukButton({
            text: "Continue",
            preventDoubleClick: true
          })
        }}
        {{ govukButton({
          text: "Save and continue later",
          classes: "govuk-button--secondary"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
