{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="resume-email-code">
      {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "What email address did you use?",
            classes: "govuk-label--l",
            isPageHeading: true
          },
          hint: {
            text: "We asked you for an email address when you first created your plan. This is normally your school email address."
          },
          id: "resume-email",
          name: "resume-email"
        }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{
          govukButton({
            text: "Continue",
            preventDoubleClick: true
          })
        }}
        {{ govukButton({
          text: "Save and continue later",
          classes: "govuk-button--secondary"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
