.govuk-header__step-by-step{
  background-color: govuk-colour("light-grey");
  padding: govuk-spacing(2);
  box-sizing: border-box;

  .govuk-heading-m{
      margin-bottom: 0;
    }

  .govuk-caption-m{
    color: govuk-colour("black");
  }
}

.js-step-title{
    width:100%;

  .govuk-summary-list__wide{
    width:70%;
    border-bottom:0 none;
  }

  .govuk-summary-list__value {
    border-bottom:0 none;
  }
}
