{% extends "layout.html" %}

{% block pageTitle %}
  Dashboard
{% endblock %}


{% block content %}
  <div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Specifications dashboard</h1>
  </div>

  <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Existing specifications</h2>
      <p class="govuk-body">Moo baa woof hiss oink meow squeak</p>
      <ul class="govuk-list">
        <li><a href="#" class="govuk-link">In progress</a></li>
        <li><a href="#" class="govuk-link">Completed</a></li>
      </ul>
  </div>

  <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-m">Create new specification</h2>
      <p class="govuk-body">Moo baa woof hiss oink meow squeak</p>
      <ul class="govuk-list">
        <li><a href="start_new-specification" class="govuk-link">Create new specification</a></li>
      </ul>
  </div>

  </div>
{% endblock %}
