{% extends "layout.html" %}

{% block pageTitle %}
  Create a new specification
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "../start_new-specification"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="school-type" method="post" novalidate>
        <div class="govuk-form-group">
          <h1 class="govuk-label-wrapper"><label class="govuk-label govuk-label--l" for="school-name">
              What is the name of the school?
            </label>
          </h1>
          <div id="school-name-hint" class="govuk-hint">
            This should be the name of the school for which you are procuring a catering contract.
          </div>
          <input class="govuk-input" id="school-name" name="school-name" type="text">
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>


    </div>
  </div>
{% endblock %}
