{% extends "layout-gather-info.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="gather-info-tender-date">
      {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

      {{ govukTextarea({
        name: "current-supplier-offer",
        id: "current-supplier-offer",
        rows: "18",
        label: {
          text: "What does the current catering supplier offer?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "Think about how many meals are served throughout the day, how the food is ordered, how manys days per year meals are supplied, current cost of meal per student and any future requirements you may have."
        }
      }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{
          govukButton({
            text: "Continue",
            preventDoubleClick: true
          })
        }}
        {{ govukButton({
          text: "Save and continue later",
          classes: "govuk-button--secondary"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
