{% extends "layout-part-of-service.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
      Gather information on what you're buying
    </h1>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Overview</h2>
      <p class="govuk-body">
        This tool will help you to gather and define your requirements for the
        goods and services you want to buy for your school. The questions will
        prompt you to think about and provide answers to key considerations.
      </p>
      <p class="govuk-body">Your answers will be used to build a draft specification that:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>will include recommended sections covering boiler plate standards and regulations</li>
        <li>can be downloaded as an editable document</li>
        <li>can be used to for the tender process</li>
      </ul>

      <h2 class="govuk-heading-m">Before you start</h2>

      <p class="govuk-body">You will need:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>to know who you want to keep informed about this procurement and their email addresses</li>
        <li>an understanding of what you're trying to buy
          <ul class="govuk-list govuk-list--bullet">
            <li>when you need it by</li>
            <li>who it's for</li>
            <li>what it needs to do</li>
            <li>any specical or unique requirements</li>
          </ul>
        </li>
        <li>information from the current contract</li>
      </ul>

      <p class="govuk-body">It will take around 20 minutes to complete the process</p>

      <h2 class="govuk-heading-m">More information</h2>

      <p class="govuk-body">Read guidance on:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="#" class="govuk-link">buying for schools</a></li>
        <li><a href="#" class="govuk-link">buying procedures and procurement law (including EU procurement law)</a></li>
      </ul>

      <a href="support-what-are-you-buying" role="button" draggable="false" class="govuk-button govuk-button--start">
        Continue
      </a>
    </div>
  </div>

{% endblock %}
