{% extends "layout-gather-info.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="gather-info-check-your-answers">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {% from "govuk/components/textarea/macro.njk" import govukTextarea %}

        {% set yesHtml %}

        {{ govukTextarea({
          name: "tender-addess",
          id: "tender-addess",
          label: {
            text: "What address should tender bids be sent to?",
            classes: "govuk-label--s",
            isPageHeading: true
          }
        }) }}
        {% endset -%}

        {% set phoneHtml %}
        {{ govukInput({
          id: "contact-by-phone",
          name: "contact-by-phone",
          type: "tel",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Phone number"
          }
        }) }}
        {% endset -%}

        {% set textHtml %}
        {{ govukInput({
          id: "contact-by-text",
          name: "contact-by-text",
          type: "tel",
          classes: "govuk-!-width-one-third",
          label: {
            text: "Mobile phone number"
          }
        }) }}
        {% endset -%}

        {{ govukRadios({
          idPrefix: "how-contacted-conditional",
          name: "how-contacted",
          fieldset: {
            legend: {
              text: "Will you accept bids by post?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              conditional: {
                html: yesHtml
              }
            },
            {
              value: "No",
              text: "No"
            }
          ]
        }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{
          govukButton({
            text: "Continue",
            preventDoubleClick: true
          })
        }}
        {{ govukButton({
          text: "Save and continue later",
          classes: "govuk-button--secondary"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
