{% extends "layout-gather-info.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="gather-info-meals-required">
      {% from "govuk/components/date-input/macro.njk" import govukDateInput %}

      {{ govukDateInput({
        id: "tender-date",
        namePrefix: "tender-date",
        fieldset: {
          legend: {
            text: "When does the tender need to be submitted?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "For example, 12 11 2022"
        }
      }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{
          govukButton({
            text: "Continue",
            preventDoubleClick: true
          })
        }}
        {{ govukButton({
          text: "Save and continue later",
          classes: "govuk-button--secondary"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
