{% extends "layout.html" %}

{% block pageTitle %}
  Start page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
              {% if serviceName %} {{ serviceName }} {% endif %}
            </h1>


            {% if data['release'] == 'mvp1' %}


            <p>You can use this service to create a procurement specification.</p>

            <p>Use this service to:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>do something</li>
              <li>update your name, address or other details</li>
              <li>do something else</li>
            </ul>


            <a href="dashboard" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
              Start
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
              </svg>
            </a>
            {% else %}

            <p>You need to create or <a href="sign-in" class="govuk-link">sign in</a> to a buy for your school account. You'll then be able to create a procurement specification.</p>

            <p>Use this service to:</p>

            <ul class="govuk-list govuk-list--bullet">
              <li>do something</li>
              <li>update your name, address or other details</li>
              <li>do something else</li>
            </ul>


            <a href="#" role="button" draggable="false" class="govuk-button govuk-button--start govuk-!-margin-top-2 govuk-!-margin-bottom-8"  data-module="govuk-button">
              Create account
              <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40" role="presentation" focusable="false">
                <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
              </svg>
            </a>

            <h2 class="govuk-heading-m">Before you start</h2>

            <p>You can also <a href="#">register by post</a>.</p>

            <p>You can’t register for this service if you’re in the UK illegally.</p>
            {% endif %}







    </div>
  </div>

  <!-- {% if data['permission-scenario'] == 1 %}
    {{ govukPanel({
      html: "<h1 class='govuk-panel__title'>Vacancy submitted for approval by "+data ['employer-name']+" </h1><br>The vacancy reference number is<br><strong>VAC100000005758</strong>"
    }) }}
  {% endif %}
  {% if data['permission-scenario'] == 2 %}
    {{ govukPanel({
      html: "<h1 class='govuk-panel__title'>Vacancy submitted for review</h1><br>The vacancy reference number is<br><strong>VAC1099883764</strong>"
    }) }}
  {% endif %} -->

{% endblock %}
