{% extends "layout.html" %}

{% block pageTitle %}
  Start page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="background: SteelBlue" class="govuk-!-padding-6 govuk-!-margin-bottom-8">

    <h1 class="govuk-heading-xl" h1 style= "color:white;">Get help buying for schools</h1>
    <p style= "color:white;">From: Department for Education<br>
    Published: 2 February 2016<br>
    Updated:22 April 2021, see all updates</p>
  </div>
</div>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-caption-l govuk-!-margin-bottom-4">If you need additional support with procurement</h2>
    
      <div class="app-interruption-card govuk-!-padding-5 govuk-!-margin-bottom-5">
        <p class="govuk-!-margin-0">If you've browsed this manual but feel like you need help from a person, there are different ways you can get advice and support from specialists in school procurement.</p>
      </div>
</div>

<div class="govuk-grid-column-full">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {% from "govuk/components/accordion/macro.njk" import govukAccordion %}

    {{ govukAccordion({
      id: "accordion-default",
      items: [
        {
          heading: {
            text: "Find a network of other school business professionals"
          },
          content: {
            html: "<p class='govuk-body'>This is the content for Find a network of other school business professionals.</p>"
          }
        },
          {
          heading: {
            text: "Set up a network for school business professionals"
          },
          content: {
            html: "<p class='govuk-body'>This is the content for Set up a network for school business professionals.</p>"
          }
        },
          {
          heading: {
            text: "Get free help from a Department for Education procurement advisor"
          },
          content: {
            html: "<p class='govuk-body'>This is the content for Get free help from a Department for Education procurement advisor.</p>"
          }
        }
      ]
    }) }}
 </div>

 <!--right hand column starts-->
 <div class="govuk-grid-column-one-third">
   <!--empty-->
 </div>
</div>
    </div>
  </div>
{% endblock %}
