{% extends "layout.html" %}

{% block pageTitle %}
  Get help buying for schools
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="background: SteelBlue" class="govuk-!-padding-6">

    <h1 class="govuk-heading-xl" h1 style= "color:white;">Get help buying for schools</h1>
    <p style= "color:white;">From: Department for Education<br>
    Published: 2 February 2016<br>
    Updated:22 April 2021, see all updates</p>
  </div>
</div>
</div>
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{{ govukBreadcrumbs({
  items: [
    {
      text: "Contents"
    }
  ]
}) }}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-caption-l">
A guide to buying and procuring for schools.
    </h2>
    <p>
</div>

<div class="govuk-grid-column-full">

<h2><a class="govuk-link govuk-link--no-visited-state" href="get-support">If you need additional support with a procurement</a></h2>
<p>Get free help from a Department for Education procurement advisor or a network of people responsible for procurement in schools.
</p>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-heading-m" id="first-steps">First steps of any procurement</h2>

   <ul class="govuk-list">
     <li>
        <h3 class="govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="first-steps/check-youre-ready">1. Check you're ready to start a procurement</a></h3>
        <p>Steps you may need to take before starting a procurement, including writing business cases, understanding costs and assessing the market.</p>
     </li>
     <li>
        <h3 class="govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="first-steps/understand-your-schools-needs-for-a-procurement">2. Understand your school's needs for a procurement</a></h3>
        <p>Find out who to speak to and what information to collect to understand your school's objectives and prepare for creating a specification to share with suppliers.</p>
     </li>
     <li>
        <h3 class="govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="first-steps/find-the-right-procurement-process">3. Find the right procurement process</a></h3>
        <p>Check which procurement process you need to follow based on how much you're spending, and find out how much time you may need for each process.</p>
     </li>
     <li>
        <h3 class="govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="first-steps/create-a-specification-for-your-school">4. Create a specification for your school</a></h3>
        <p>Get advice and access our Create a specification service to build a comprehensive document that explains to suppliers what your school needs.</p>
     </li>
   </ul>

   <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

   <h2 class="govuk-heading-m">Next steps depending on your procurement process</h2>

    <p>Only follow one of these step by step processes.</p>

    <p>There are rules about which processes you can follow depending on how much you're spending. Other factors like how much time you have may influence your decision.</p>

    <p>Make sure you've completed the <a href="./first-steps/find-the-right-procurement-process.html">Find the right procurement process</a> step before you continue.</p>

    <ul class="govuk-list">
     <li>
        <h3 class="govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="next-steps/run-a-mini-competition">Run a mini competition from a framework, step by step</a></h3>
        <p>How to use Find a framework to get 3 quotes from quality-checked suppliers. Frameworks use pre-written terms and conditions that are approved by DfE.</p>
     </li>
     <li>
        <h3 class="govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="next-steps/get-at-least-3-quotes">Get at least 3 quotes from suppliers, step by step</a></h3>
        <p>How to procure low to medium value goods and services by choosing at least 3 suppliers to get a quote from.</p>
     </li>
     <li>
        <h3 class="govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="next-steps/advertise-a-contract">Advertise a contract and run a procurement process, step by step</a></h3>
        <p>How to procure high value goods and services, including how to advertise a contract and go to tender.</p>
     </li>
     <li>
        <h3 class="govuk-!-margin-bottom-2"><a class="govuk-link govuk-link--no-visited-state govuk-link--no-underline" href="next-steps/run-a-compliant-procurement-process">Run a compliant procurement process, step by step</a></h3>
        <p>How to procure high value goods and services in compliance with EU procurement rules, including how to advertise a contract and go to tender.</p>
     </li>
   </ul>
 </div>

 <!--right hand column starts-->
 <div class="govuk-grid-column-one-third">
   <h3 class="govuk-heading-s">Things to consider when procuring specific goods or services</h3>
   <p>Buying and leasing goods</p>
   <ul class="govuk-list govuk-!-margin-bottom-7">
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">Books, stationery and educational supplies</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">Computer hardware and accessories</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">PPE and other infection prevention control</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">Furniture</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">Cleaning Products</a>
     </li>

   </ul>

   <p>Services</p>
   <ul class="govuk-list govuk-!-margin-bottom-7">
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="catering">Catering</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">Cleaning</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">ICT, Network and cloud solutions</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">Consultancy and professional services</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">Utilities</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">Estates</a>
     </li>

   </ul>
 </div>
</div>
    </div>
  </div>
{% endblock %}
