{% extends "layout.html" %}

{% block pageTitle %}
  Start page
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="background: SteelBlue" class="govuk-!-padding-6 govuk-!-margin-bottom-8">

    <h1 class="govuk-heading-xl" h1 style= "color:GhostWhite;">
      Buying for schools
    </h1>
<p style= "color:GhostWhite;">From: Department for Education<br>
Published: 2 February 2016<br>
Updated:22 April 2021, see all updates</p>
  </div>
</div>
</div>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-caption-l">
A guide to buying and procuring for schools.
    </h2>
    <p>
</div>

<div class="govuk-grid-column-full">

<p>  Get free help from a Department for Education procurement advisor or a network of people responsible for procurement in schools.
</P>
<a class="govuk-link govuk-link--no-visited-state" href="beta/phase-4/start">
<p>If you need support with a procurement</a>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds"><h3 class="govuk-heading-s">
   First steps of any procurement</h3>



 </div>
 <div class="govuk-grid-column-one-third">
   <h3 class="govuk-heading-s">Things to consider when procuring specific goods or services</h3>
   <p>Buying and leasing goods</p>
   <ul class="govuk-list govuk-!-margin-bottom-7">
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">Books, stationery and educational supplies</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">Computer hardware and accessories</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">PPE and other infection prevention control</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">Furniture</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">Cleaning Products</a>
     </li>

   </ul>

   <p>Services</p>
   <ul class="govuk-list govuk-!-margin-bottom-7">
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">Catering</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">Cleaning</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">ICT, Network and cloud solutions</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">Consultancy and professional services</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">Utilities</a>
     </li>
     <li>
       <a class="govuk-link govuk-link--no-visited-state" href="-">Estates</a>
     </li>

   </ul>
 </div>
</div>
    </div>
  </div>
{% endblock %}
