{% extends "layout-gather-info.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="gather-info-check-your-answers">
      {% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

      {{ govukCheckboxes({
        idPrefix: "order-food",
        name: "order-food",
        fieldset: {
          legend: {
            text: "How do you want meals be ordered?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        items: [
          {
            value: "Pre-booked online",
            text: "Pre-booked online"
          },
          {
            value: "Pre-booked in school at the beginning of the day",
            text: "Pre-booked in school at the beginning of the day"
          },
          {
            value: "Face to face at serving time",
            text: "Face to face at serving time"
          }
        ]
      }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{
          govukButton({
            text: "Continue",
            preventDoubleClick: true
          })
        }}
        {{ govukButton({
          text: "Save and continue later",
          classes: "govuk-button--secondary"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
