{% extends "layout-gather-info.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form method="POST" action="plan-check-your-answers">
      {% from "govuk/components/input/macro.njk" import govukInput %}

      {{ govukInput({
        label: {
          text: "Who authorisers procurement in the school?",
          classes: "govuk-label--l",
          isPageHeading: true
        },
        hint: {
          text: "You may need to idenitfy the goals, needs or requirements for this
          procurement and share that information with e.g. the headteacher,
          governors or other person to get approval so that you can proced with
          the procurement"
        },
        id: "procurement-authorisers",
        name: "procurement-authorisers"
      }) }}

        {% from "govuk/components/button/macro.njk" import govukButton %}

        {{
          govukButton({
            text: "Continue",
            preventDoubleClick: true
          })
        }}
        {{ govukButton({
          text: "Save and continue later",
          classes: "govuk-button--secondary"
        }) }}
      </form>
    </div>
  </div>

{% endblock %}
