{% extends "layout.html" %}

{% block pageTitle %}
  Existing specifications
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "index"
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Alpha prototypes</h1>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">9 July 2020</span>
      <h3 class="govuk-heading-m">Sprint 1</h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="sprint-one/step-by-step" class="govuk-link">{{serviceName}}</a>
        </li>
        <li>
          <a href="sprint-one/support-start-page" class="govuk-link">Step 1 - Identify the level of support you need for what you're buying</a>
        </li>
        <li>
          <a href="sprint-one/support-start-page" class="govuk-link">Step 2 - Gather information on what you're buying</a>
        </li>
      </ul>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>Use a step by step page to show users that this is part of a larger end-to-end journey</li>
            <li>Help users identify their category of spend</li>
            <li>Help users identify the level of support that they may need</li>
            <li>Gather the requirements and needs to be able to support users creating a specification</li>
          </ul>
        </div>
      </details>
      <h4 class="govuk-heading-s govuk-!-margin-bottom-1">User Research</h4>
      <ul class="govuk-list">
        <li>
          <a href="https://miro.com/app/board/o9J_kpAMt-Y=/" class="govuk-link" target="_blank">Feedback</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">12 August 2020</span>
      <h3 class="govuk-heading-m">Sprint 4</h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="sprint-four/step-by-step" class="govuk-link">{{serviceName}}</a>
        </li>
      </ul>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>Use a step by step page to show users that this is part of a larger end-to-end journey</li>
            <li>Help users identify their category of spend</li>
            <li>Help users identify the level of support that they may need</li>
            <li>Gather the requirements and needs to be able to support users creating a specification</li>
          </ul>
        </div>
      </details>
      <h4 class="govuk-heading-s govuk-!-margin-bottom-1">User Research</h4>
      <ul class="govuk-list">
        <li>
          <a href="https://miro.com/app/board/o9J_knP80Jw=/" class="govuk-link" target="_blank">Feedback</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">26 August 2020</span>
      <h3 class="govuk-heading-m">Sprint 5</h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="sprint-five/resume-start" class="govuk-link">Resume procurement</a>
        </li>
        <li>
          <a href="sprint-five/non-linear-start" class="govuk-link">Non-linear procurement</a>
        </li>
      </ul>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>Show recovery via email address and code</li>
            <li>Rework step-by-step and tasklist into single userflow</li>
            <li>User can mark step as 'done' to update stats but keep it editable</li>
            <li>Questions regrouped by task</li>
          </ul>
        </div>
      </details>
      <h4 class="govuk-heading-s govuk-!-margin-bottom-1">User Research</h4>
      <ul class="govuk-list">
        <li>
          <a href="https://miro.com/app/board/o9J_kpAMt-Y=/" class="govuk-link" target="_blank">Feedback</a>
        </li>
      </ul>
    </div>

  </div>
    <div class="govuk-grid-row">

    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">9 September 2020</span>
      <h3 class="govuk-heading-m">Sprint 6</h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="sprint-six/non-linear-start" class="govuk-link">Understanding the service</a>
        </li>
      </ul>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>Something goes here</li>
          </ul>
        </div>
      </details>
      <h4 class="govuk-heading-s govuk-!-margin-bottom-1">User Research</h4>
      <ul class="govuk-list">
        <li>
          <a href="https://miro.com/app/board/o9J_kpAMt-Y=/" class="govuk-link" target="_blank">Feedback</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <h3 class="govuk-heading-m">CMS test</h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
      <ul class="govuk-list">
        <li>
          <a href="contentful-test/start" class="govuk-link">
            Start
          </a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
