{% extends "layout.html" %}

{% block pageTitle %}
  Dashboard
{% endblock %}

{% block beforeContent %}
  {{ govukPhaseBanner({
    tag: {
      text: "prototype"
    },
    html: 'This is not a real service.'
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
      	<span class="govuk-caption-l">Buy for your school</span>
      	Prototypes
      </h1>

      <p>If you are looking for the alpha prototypes, you can <a class="govuk-link govuk-link--no-visited-state" href="alpha-prototypes">find them here</a>.</p>

    </div>
  </div>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6 govuk-!-margin-bottom-8">
    	<h2 class="govuk-heading-l">
    		Current phase
    	</h2>

    	<div class="govuk-grid-row govuk-!-margin-bottom-6">
    		<div class="govuk-grid-column-one-half">
          <h3 class="govuk-heading-s">
            End-to-end journey
          </h3>
          <ul class="govuk-list">
            <li>
              <a class="govuk-link govuk-link--no-visited-state" href="beta/start">Service start page</a>
            </li>
          </ul>
    		</div>

        <div class="govuk-grid-column-one-half">

        </div>
    	</div>
    </div>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--xl">
  </div>
  </div>

<!--
============================================================================
Previous versions
============================================================================
-->

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Previous phases</h2>

    <p class="govuk-body">No previous phases.</p>
    <!-- <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default"><div class="govuk-accordion__controls"><button type="button" class="govuk-accordion__open-all" aria-expanded="false">Open all<span class="govuk-visually-hidden"> sections</span></button></div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
          <button type="button" id="accordion-default-heading-1" aria-controls="accordion-default-content-1" class="govuk-accordion__section-button" aria-expanded="false">
              Phase 1
            </button><span class="govuk-accordion__icon" aria-hidden="true"></span></h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-full">
              <div style="border:5px solid SteelBlue; background: GhostWhite" class="govuk-!-padding-6 govuk-!-margin-bottom-8">
                <h2 class="govuk-heading-l">
                  Phase 1
                </h2>

                <div class="govuk-grid-row govuk-!-margin-bottom-6">
                  <div class="govuk-grid-column-one-half">
                    <h3 class="govuk-heading-s">
                      Employer journeys
                    </h3>
                    <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                      <li>
              				  <a class="govuk-link govuk-link--no-visited-state" href="../../_versions/version-1/registration/start">Service start page</a>
              				</li>
                      <li>
              					<a class="govuk-link govuk-link--no-visited-state" href="../../_versions/version-1/provider-led-registration/invitation-email">Provider-led invitation email</a>
              				</li>
                      <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="../../_versions/version-1/recruitment/recruitment-layout-options-start">Recruitment layout options</a>
                      </li>
                      <li>
              					<a class="govuk-link govuk-link--no-visited-state" href="../../_versions/version-1/recruitment/recruitment-start">Recruitment homepage scenarios</a>
              				</li>
                      <li>
              					<a class="govuk-link govuk-link--no-visited-state" href="../../_versions/version-1/provider-permissions/providers">Training provider permissions homepage (VC1-A)</a>
              				</li>
                      <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="../../_versions/version-1/recruitment/recruitment-vacancy-statuses">Recruitment - vacancy statuses (VC1-D)</a>
                      </li>
                    </ul>
                  </div>

                  <div class="govuk-grid-column-one-half">
                    <h3 class="govuk-heading-s">
                      Provider journeys
                    </h3>
                    <ul class="govuk-list govuk-list--bullet govuk-!-font-size-16">
                      <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="../../_versions/version-1/recruitment/provider-view/rejected-vacancy">Vacancy rejected with employer comments (VC1-A)</a>
                      </li>
                      <li>
                        <a class="govuk-link govuk-link--no-visited-state" href="../../_versions/version-1/recruitment/vacancy-created-start">Submit vacancy - permissions scenarios (VC1-B)</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div> -->
  </div>
</div>


{% endblock %}
