
{% extends "layout.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Prototypes for "{{serviceName}}"</h1>
    </div>
  </div>

  <h2 class="govuk-heading-l">Alpha prototypes</h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">9 July 2020</span>
      <h3 class="govuk-heading-m">Sprint 1</h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="sprint-one/step-by-step" class="govuk-link">{{serviceName}}</a>
        </li>
        <li>
          <a href="sprint-one/support-start-page" class="govuk-link">Step 1 - Identify the level of support you need for what you're buying</a>
        </li>
        <li>
          <a href="sprint-one/support-start-page" class="govuk-link">Step 2 - Gather information on what you're buying</a>
        </li>
      </ul>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>Use a step by step page to show users that this is part of a larger end-to-end journey</li>
            <li>Help users identify their category of spend</li>
            <li>Help users identify the level of support that they may need</li>
            <li>Gather the requirements and needs to be able to support users creating a specification</li>
          </ul>
        </div>
      </details>
      <h4 class="govuk-heading-s govuk-!-margin-bottom-1">User Research</h4>
      <ul class="govuk-list">
        <li>
          <a href="https://miro.com/app/board/o9J_kpAMt-Y=/" class="govuk-link" target="_blank">Feedback</a>
        </li>
      </ul>
    </div>

    <div class="govuk-grid-column-one-third">
      <span class="govuk-caption-m">12 September 2020</span>
      <h3 class="govuk-heading-m">Sprint 4</h3>

      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
      <ul class="govuk-list">
        <li>
          <a href="sprint-four/step-by-step" class="govuk-link">{{serviceName}}</a>
        </li>
      </ul>
      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What's new?
          </span>
        </summary>
        <div class="govuk-details__text">
          <ul class="govuk-list govuk-list--bullet">
            <li>Use a step by step page to show users that this is part of a larger end-to-end journey</li>
            <li>Help users identify their category of spend</li>
            <li>Help users identify the level of support that they may need</li>
            <li>Gather the requirements and needs to be able to support users creating a specification</li>
          </ul>
        </div>
      </details>
      <h4 class="govuk-heading-s govuk-!-margin-bottom-1">User Research</h4>
      <ul class="govuk-list">
        <li>
          <a href="https://miro.com/app/board/o9J_kpAMt-Y=/" class="govuk-link" target="_blank">Feedback</a>
        </li>
      </ul>
    </div>
  </div>

{% endblock %}
