{% extends "layout.html" %}

{% block pageTitle %}
  Food standards
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "../../../task-list"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="have-way-order" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Do you need a way for pupils to pre-order meals?
                </h1>
              </legend>
              <div class="govuk-radios">
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="need-way-order" name="need-way-order" type="radio" value="yes">
                  <label class="govuk-label govuk-radios__label" for="need-way-order">
                    Yes
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="need-way-order-2" name="need-way-order" type="radio" value="no">
                  <label class="govuk-label govuk-radios__label" for="need-way-order-2">
                    No
                  </label>
                </div>
                <div class="govuk-radios__item">
                  <input class="govuk-radios__input" id="need-way-order-3" name="need-way-order" type="radio" value="we'll keep our options open at this stage">
                  <label class="govuk-label govuk-radios__label" for="need-way-order-3">
                    We'll keep our options open at this stage
                  </label>
                </div>
              </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
