{% extends "layout.html" %}

{% block pageTitle %}
  Food standards
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype"
  },
  html: 'This is not a real service.'
}) }}
  {{ govukBackLink({
    text: "Back",
    href: "non-mandatory-food-standards"
  }) }}
{% endblock %}

{% block content %}



<div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <form action="quantity-quality-variety" method="post" novalidate>

          <div class="govuk-form-group">
            <fieldset class="govuk-fieldset" aria-describedby="allergens-hint">
              <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">
                  Are there any allergens that you want the supplier to avoid?
                </h1>
              </legend>
              <div id="allergens-hint" class="govuk-hint">
                The School Food Standards ensure that caterers work with the school to provide enjoyable meals for children with medically proven allergies.
              </div>
              <div id="allergens-hint" class="govuk-hint">
                You may wish to avoid some common allergens altogether to minimise risk.
              </div>


              <div class="govuk-checkboxes" data-module="govuk-checkboxes">
                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="allergens" name="allergens" type="checkbox" value="milk" data-aria-controls="conditional-contact">
                  <label class="govuk-label govuk-checkboxes__label" for="allergens">
                    Milk
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="allergens-2" name="contact" type="checkbox" value="eggs" data-aria-controls="conditional-allergens-2">
                  <label class="govuk-label govuk-checkboxes__label" for="allergens-2">
                    Eggs
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="allergens-3" name="contact" type="checkbox" value="tree nuts" data-aria-controls="conditional-allergens-3">
                  <label class="govuk-label govuk-checkboxes__label" for="allergens-3">
                    Tree nuts
                  </label>
                </div>


                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="allergens-4" name="contact" type="checkbox" value="peanuts" data-aria-controls="conditional-allergens-4">
                  <label class="govuk-label govuk-checkboxes__label" for="allergens-4">
                    Peanuts
                  </label>
                </div>


                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="allergens-5" name="contact" type="checkbox" value="shellfish" data-aria-controls="conditional-allergens-5">
                  <label class="govuk-label govuk-checkboxes__label" for="allergens-5">
                    Shellfish
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="allergens-6" name="contact" type="checkbox" value="fish" data-aria-controls="conditional-allergens-6">
                  <label class="govuk-label govuk-checkboxes__label" for="allergens-6">
                    Fish
                  </label>
                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="allergens-7" name="contact" type="checkbox" value="other" data-aria-controls="conditional-allergens-7">
                  <label class="govuk-label govuk-checkboxes__label" for="allergens-7">
                    Other
                  </label>
                </div>
                <div class="govuk-checkboxes__conditional govuk-checkboxes__conditional--hidden" id="conditional-allergens-7">
                  <div class="govuk-form-group">
                    <label class="govuk-label" for="allergens-by-text">
                      Please specify
                    </label>
                    <input class="govuk-input govuk-!-width-one-third" id="allergens-by-text" name="allergens-by-text" type="text"></div>

                </div>

                <div class="govuk-checkboxes__item">
                  <input class="govuk-checkboxes__input" id="allergens-8" name="contact" type="checkbox" value="no" data-aria-controls="conditional-allergens-8">
                  <label class="govuk-label govuk-checkboxes__label" for="allergens-8">
                    No, there are no allergens that must be avoided altogether
                  </label>
                </div>


              </div>

            </fieldset>
          </div>

          <button class="govuk-button" data-module="govuk-button">
            Continue
          </button>
        </form>
      </div>
    </div>

{% endblock %}
